body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('../imagens/fundo1.jpg') no-repeat left top;
    background-size: cover;
}

header {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
}

main {
    padding:0px 20px 0px 20px;
}

h1 {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
}

#titulo-1{
    color: #273746;
}

.paragrafo{
    color: #273746;
    font-size: 20px;
}

.table, td, th, tr{
    width: 500px;
    border: 1px solid #273746;
}

.fundo-branco{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}